<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;900&family=Pacifico&display=swap"
	      rel="stylesheet">
	<!-- Bootstrap CSS -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!--	<link rel="stylesheet" href="\static\css\styles.css">-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

	<title>Adrian's Run Club</title>
</head>
<body>

<section id="navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">Adrian's Run Club</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#middle-section">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#bottom-section">Deals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{  url_for('sign_up')  }}">Sign Up</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</section>


<section id="top-section">
	<div class="container">
		<div class="row justify-content-center text-center">
			<h1 id="page-name" class="text-pacifico">Adrian's <i class="fa-solid fa-person-running"></i>Run Club</h1>
			<h3 class="text-montserrat page-desc">Finding you the best deals on competitive running shoes</h3>
			<a href="{{  url_for('sign_up') }}">
				<button type="button" class="btn btn-warning btn-rounded btn-submit text-montserrat"
				        style="font-weight: bold;">Sign up
				</button>
			</a>
		</div>
	</div>
</section>

<section id="middle-section">
	<div class="container">
		<div class="row justify-content-center center-text">
			<h1 class="my-4 text-montserrat">Here's How It Works</h1>
			<div class="col-md-9 col-sm-12 my-5">
				<div class="row justify-content-center center-text">
					<div class="col-md-4 my-3">
						<i class="fa-solid fa-arrow-pointer fa-5x icon-img"></i>
						<h3 class="my-3">Join Adrian's Run Club</h3>
						<div class="row justify-content-center center-text">
							<div class="col-md-9 col-sm-12">
								<h6 class="text-montserrat">Simply choose the size and model of the shoe that you would
									like to buy and then sign up to our alert system with your email.</h6>
							</div>
						</div>
					</div>
					<div class="col-md-4 my-3">
						<i class="fa-solid fa-face-smile fa-5x icon-img"></i>
						<h3 class="my-3">Get emailed deals</h3>
						<div class="row justify-content-center center-text">
							<div class="col-md-9 col-sm-12">
								<h6 class="text-montserrat">Sit back and relax whilst our automated service lets you
									know when your shoe is on discount.</h6>
							</div>
						</div>
					</div>
					<div class="col-md-4 my-3">
						<i class="fa-solid fa-rocket fa-5x icon-img"></i>
						<h3 class="my-3">Lace up and race!</h3>
						<div class="row justify-content-center center-text">
							<div class="col-md-9 col-sm-12">
								<h6 class="text-montserrat">Run a personal best in your next race, with a shoe that
									doesn't break the bank!</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<a href="{{  url_for('sign_up') }}">
						<button type="button" class="btn btn-warning btn-rounded btn-submit text-montserrat"
						        style="font-weight: bold;">Sign up
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="bottom-section">
	<div class="container">
		<div class="row text-center">
			<h1 class="my-4 text-montserrat">Current Deals</h1>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-2">
				<div class="card p-3 shadow-lg">
					<img src="https://cdn.runrepeat.com/i/saucony/37960/saucony-endorphin-speed-3-85-white-blck-vizi-7e12-380.jpg"
					     class="card-img-top" alt="...">
					<div class="card-body text-center">
						<div class="row">
							<div class="col-8">
								<h5 class="shoe-name">Nike ZoomX Vaporfly NEXT% 2</h5>
							</div>
							<div class="col-4">
								<div class="circle-singleline">80</div>
							</div>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-4">
							<p class="shoe-price">Price: £150</p>
						</div>
						<div class="col-4">
							<p class="shoe-discount">Discount: £150</p>
						</div>
						<div class="col-4">
							<a href="https://www.sportsshoes.com/products/saucony/z/z/shoes/" class="shoe-link"><i
									class="fa-solid fa-arrow-up-right-from-square fa-2x"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="testimonials">
	<div class="row text-center justify-content-center">
		<h1 class="my-4 text-montserrat">Testimonials</h1>
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row justify-content-center text-center">
						<div class="col-md-6 col-sm-8">
							<div class="row justify-content-center">
								<h2 class="text-montserrat testimonial-text">I managed to pick up some Nike Alphafly's
									for 60% off! I ran a 6 min PB in the half marathon with them.</h2>
							</div>
							<div class="row justify-content-center d-flex h-60 align-items-center">
								<div class="col-md-3 col-sm-12">
									<img src="https://picsum.photos/150" alt="" class="testimonial-img">
								</div>
								<div class="col-md-4 col-sm-12 text-montserrat testimonial-name text-center">
									<h4>Adrian, Cheltenham</h4>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="carousel-item">
					<div class="row justify-content-center text-center">
						<div class="col-md-6 col-sm-8">
							<div class="row justify-content-center">
								<h2 class="text-montserrat testimonial-text">I got tired of searching for deals online
									for new shoes. Adrian's Run Club makes it easy to get the best deals!</h2>
							</div>
							<div class="row justify-content-center d-flex h-60 align-items-center">
								<div class="col-md-3 col-sm-12">
									<img src="https://picsum.photos/150" alt="" class="testimonial-img">
								</div>
								<div class="col-md-4 col-sm-12 text-montserrat testimonial-name text-center">
									<h4>Ed, York</h4>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="carousel-item">
					<div class="row justify-content-center text-center">
						<div class="col-md-6 col-sm-8">
							<div class="row justify-content-center">
								<h2 class="text-montserrat testimonial-text">I couldn't afford the Asics Metaspeed's. I
									signed up to Adrian's Run Club and managed to snag them for 40% off.</h2>
							</div>
							<div class="row justify-content-center d-flex align-items-center">
								<div class="col-md-3 col-sm-12">
									<img src="https://picsum.photos/150" alt="" class="testimonial-img">
								</div>
								<div class="col-md-4 col-sm-12 text-montserrat testimonial-name text-center">
									<h4>Ben, Essex</h4>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			        data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			        data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</section>

<section id="contact-me">
	<div class="container-fluid">

		<form action="{{ url_for('home') }}" method="post">
			<div class="row justify-content-center text-center">
				<div class="col-5 my-3">
					<h2 id="form-title" class="text-montserrat" style="font-weight:bold;">GET IN CONTACT</h2>
				</div>
				<div class="row justify-content-center my-3">
					<div class="col-xxl-5 col-xl-5 col-md-6 col-sm-8">
						<div class="form-floating">
							<input name="name" type="text" class="form-control" id="name" placeholder="name@example.com"
							       required>
							<label for="name">Name</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center my-3">
					<div class="col-xxl-5 col-xl-5 col-md-6 col-sm-8">
						<div class="form-floating">
							<input name="email" type="email" class="form-control" id="email"
							       placeholder="name@example.com"
							       required>
							<label for="email">Email address</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center my-3">
					<div class="col-xxl-5 col-xl-5 col-md-6 col-sm-8">
						<div class="form-floating">
							<input name="phone-number" type="number" class="form-control" id="phone"
							       placeholder="name@example.com"
							       required>
							<label for="phone">Phone</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center my-3">
					<div class="col-xxl-5 col-xl-5 col-md-6 col-sm-8">
						<div class="form-floating">
							<textarea name="message" class="form-control" placeholder="Leave a comment here"
							          id="message"
							          style="height: 150px"></textarea>
							<label for="message">Message</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="d-grid mx-auto justify-content-center">
						<button class="btn btn-primary submit-btn" type="submit" value="Send">
							<i class="fa-solid fa-paper-plane mx-2"></i><span>Submit</span>
						</button>
					</div>
				</div>
			</div>
		</form>


		<div class="container">
			<footer class="py-3 my-4">
				<ul class="nav justify-content-center border-bottom pb-3 mb-3">
					<li class="nav-item"><a href="#" class="nav-link px-2 text-montserrat">Home</a></li>
					<li class="nav-item"><a href="#top-section" class="nav-link px-2 text-montserrat">About</a></li>
					<li class="nav-item"><a href="#middle-section" class="nav-link px-2 text-montserrat">Deals</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-montserrat">Contact</a></li>
				</ul>
				<p class="text-center text-montserrat">© 2023 Adrian's Run Club </p>
			</footer>
		</div>


		<!-- Font is awesome -->
		<script src="https://kit.fontawesome.com/1f8ce701db.js" crossorigin="anonymous"></script>
		<!-- Optional JavaScript; choose one of the two! -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		        crossorigin="anonymous"></script>
</body>
</html>